.align-button {
  margin-top: 23px;
}

.label {
  font-weight: bold;
  font-size: 20px;
}

.runner-container {
  margin-top: 10px;
  padding: 0 5px;

  & .inner{
    border: 1px rgb(222, 226, 230) solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;

    & span{
      display: inline-block;
      margin-top: 7px;
      width: 75px;
    }
  }
}

.margin-top20{
  margin-top: 20px;
}


