<div class="container">
  <div class="row">
    <ng-container *ngFor="let runner of runnerList; let i = index">
      <button (click)="singleClick(runner)"
              (dblclick)="doubleClick(runner)"
              class="col-3 runner-card"
              [class.red]="runner.laps % 7 === 0"
              [class.orange]="runner.laps % 7 === 1"
              [class.yellow]="runner.laps % 7 === 2"
              [class.green]="runner.laps % 7 === 3"
              [class.blue]="runner.laps % 7 === 4"
              [class.indigo]="runner.laps % 7 === 5"
              [class.violet]="runner.laps % 7 === 6"
              [class.grey]="runner.laps === 0">
        <p class="title">{{runner.number}}</p>
        <p class="laps">{{runner.laps}}</p>
      </button>
    </ng-container>
  </div>
  <div class="row">
    <div class="counter-container">
      <span>Total Runners {{runnerList.length}}</span> <span>Active Runners {{runnerList.length - finishedRunners.length}}</span><span>Finished Runners {{finishedRunners.length}}</span>
    </div>
  </div>
  <button (click)="home()" type="button" class="btn btn-primary home col-3 positive-button">Home</button>
</div>
